/* CSS for GradosGrid component */

.titulo-admin {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    background: linear-gradient( 90deg, #356ac3, #4b83e5 );
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
