@using BlazorApp1.Models
@using BlazorApp1.Repositorio
@inject IUsuarioRepositorio repo
@inject DialogService DialogService

<div class="titulo-admin">
    Lista de Usuarios
</div>
<p>

</p>
<RadzenButton Text="Crear Usuario"
    Icon ="add_circle"
    ButtonStyle="ButtonStyle.Success"
    Click="CrearUsuario"
    class="mb-3"
/>

<RadzenDataGrid Data="@usuarios"
                TItem="Usuario"
                AllowPaging="true"
                AllowSorting="true"
                AllowFiltering="true"
                PageSize="10">

    <Columns>

        <RadzenDataGridColumn TItem="Usuario"
                              Property="IdUsuario"
                              Title="ID" />

        <RadzenDataGridColumn TItem="Usuario"
                              Property="Nombre"
                              Title="Nombre" />

        <RadzenDataGridColumn TItem="Usuario"
                              Property="Apellido"
                              Title="Apellido" />   

        <RadzenDataGridColumn TItem="Usuario"
                              Property ="FechaNacimiento"
                              Title="Fecha de Nacimiento" />

        <RadzenDataGridColumn TItem="Usuario"
                              Property ="Telefono"
                              Title ="Teléfono" />

        <RadzenDataGridColumn TItem="Usuario"
                              Property="Correo"
                              Title="Correo" />

        <RadzenDataGridColumn TItem="Usuario"
                              Property="Rol"
                              Title="Rol" />

        <RadzenDataGridColumn TItem="Usuario"
                              Title="Acciones"
                              Sortable="false"
                              Filterable="false">

            <Template Context="usuario">

                <RadzenButton Icon="edit"
                              ButtonStyle="ButtonStyle.Primary"
                              Size="ButtonSize.Small"
                              Click="@(() => Editar(usuario.IdUsuario))" />

                <RadzenButton Icon="delete"
                              ButtonStyle="ButtonStyle.Danger"
                              Size="ButtonSize.Small"
                              Click="@(() => Eliminar(usuario.IdUsuario))"
                              class="ms-2" />

            </Template>

        </RadzenDataGridColumn>

    </Columns>

</RadzenDataGrid>


@code {
    private List<Usuario> usuarios = new List<Usuario>();
    protected override async Task OnInitializedAsync()
    {
        usuarios = await repo.GetUsuarios();
    }
    //Método para llamar al formulario crear usuario
    async Task CrearUsuario()
    {
        var result = await DialogService.OpenAsync<CrearUsuarioForm>(
             "Crear Usuario",
             new Dictionary<string, object>
                 {
                   {"usuario", new Usuario()}
                 }
       );
        usuarios = await repo.GetUsuarios();
    }

    //Método para llamar al formulario editar usuario
    async Task Editar(int id)
    {
        var usuarioDesdeDb = usuarios.FirstOrDefault(x => x.IdUsuario == id);

        if (usuarioDesdeDb == null) return;

        var copia = new Usuario
        {
            IdUsuario = usuarioDesdeDb.IdUsuario,
            Nombre = usuarioDesdeDb.Nombre,
            Apellido = usuarioDesdeDb.Apellido,
            FechaNacimiento = usuarioDesdeDb.FechaNacimiento,
            Telefono = usuarioDesdeDb.Telefono,
            Correo = usuarioDesdeDb.Correo,
            Contraseña = "",
            Rol = usuarioDesdeDb.Rol,
            Estado = usuarioDesdeDb.Estado
        };

        var result = await DialogService.OpenAsync<CrearUsuarioForm>(
            "Editar Usuario",
            new Dictionary<string, object>
            {
            { "usuario", copia }
            }
        );

        if (result == true)
        {
            usuarios = await repo.GetUsuarios();
        }
    }

    //Método para eliminar
    async Task Eliminar(int id)
    {
        if (await DialogService.Confirm("¿Desea eliminar este usuario?") == true)
        {
            await repo.EliminarUsuario(id);
        }
        usuarios = await repo.GetUsuarios();
    }
}
