/* CSS for EstudiantePage component */

.navbar-colegio {
    background: linear-gradient( 90deg, #0d6efd, #1e88e5 );
    box-shadow: 0 3px 12px rgba(0,0,0,.15);
}

    .navbar-colegio .nav-link {
        transition: .3s;
    }

        .navbar-colegio .nav-link:hover {
            color: #ffd54f !important;
        }


.titulo-admin {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    background: linear-gradient( 90deg, #356ac3, #4b83e5 );
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
