.gradient-custom-2 {
    background: #0e1b2a;
    background: linear-gradient(to right, #0e1b2a, #1a365d, #2b5aa5, #a8892a);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
