/* CSS for EmptyLayout component */
.layout-bg {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('/Imagenes/logoColegio.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px; /* prueba 500–700 */
    opacity: 0.06;
    z-index: 0;
    pointer-events: none;
}
.app-wrapper {
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

body::before {
    z-index: 0;
}